# Archivos de configuración sensible
config/db.php

# Archivos temporales y de sistema
.DS_Store
Thumbs.db
Archivo.zip
__MACOSX/
rueda/sessions/*
!rueda/sessions/.gitkeep

# Carpeta git
.git/

# Carpeta de subidas (mantener carpeta pero ignorar contenido)
public/uploads/*
!public/uploads/.gitkeep
